.error {
  color: red;
}
.notice-message {
  color: green;
}
.flash-error-message {
  color: red;
}
.notification {
  
  .notice {
    background-color: blue;
    color:red;
    text-align: center;
  }

  .alert {
    background-color: red;
    color: white;
    text-align: center;
  }
}