.board {
  width: 100%;
  height: 1700px;
  background-color: #DDDDDD;
  padding: 140px 0 150px 0;    
  .board-contents {
    width: 1100px;
    height: 1500px;
    background-color: #DDDDDD;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    .board-list {
      height: 100%;
      width: 700px;
      padding: 10px;
      
      a:hover {
        text-decoration: none;
        
      }
      .board-link:hover {
        border: solid 1.3px rgb(86, 86, 88);
      }
      .board-link {
        background-color: white;
        border-radius: 3px;
        height: 100px;
        width: 100%;
        border: solid 1px rgb(86, 86, 88);
        margin-bottom: 10px;
        overflow: hidden;
        color: black;
        .board-link-box {
          display: flex;
          .board-image {  
            margin: 10px;

            .board-link-image {
              width: 80px;
              height: 80px;
            }
          }
          .board-title {
            font-size: 15px;
            margin: 10px ;
            display: flex;
          }
        }
      }
    }
    // ーーーーーーー板作成formーーーーーー
    .board-form {
      .board-form-list {
        width: 100%;
        .board-form-box {
          margin-bottom: 10px;
          .board-form-title { 
            height: 50px;
            width: 60%;
            border: solid 1px black;
            border-radius: 5px;
            padding: 3px;
          }
          .board-form-image {  
            margin: auto;
          }
          .board-form-text {
            height: 300px;
            width: 60%;
            border: solid 1px black;
            border-radius: 5px;
            padding: 3px;
          }
          .board-form__btn { 
            height: 100px;
            width: 60%;
          }
        }
      }
    }
  }
  // ーーーboard コンテンツーーー
  .board-contents-top {
    // height: 200px;
    width: 600px;
    padding: 10px;
    background-color: white;
  
    .board-contents-top-box {
      display: flex;
      justify-content: space-between;
      .board-contents-title {
        margin: 10px 0px 10px;
      }
    }
    .board-contents-image-text {
      display: flex;
    
      .board-contents-text {
        margin: 10px;
        overflow: hidden;
        height: 80px;
      }
      .board-contents-image {
        width: 80px;
        height: 80px;
      }
    }
  }
}