.board-contents-top {
  border-radius: 3px;

}
.board-contents-comment-form {
  width: 600px;
  height: 100px;
  background-color:  white;
  padding: 10px;
  margin-top: 30px;
  height: auto;
  border-radius: 3px;
  .board-contents-comment-form-box {
    .comment-form-text {
      width: -webkit-fill-available;
      padding: 5px;
    }
    .board-contents-comment-form-box-btn {   
      margin-top: 5px;
      text-align: end;
    }
  }
}
.board-contents-comment{
  // height: 100%;
  .board-comment-box {
    width: 600px;
    background-color: white;
    border-radius: 3px;
    .board-comment {
      width: 600px;
      margin-top: 30px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      line-height: 30px;

      .board-comment-user {
        text-align: left;
        padding-left: 10px;
      }
      .board-comment-time {
        display: flex;
        .fa-trash-alt {
          margin-left: 10px;

        }
      }
    }
    .board-comment-text {
      width: 500px;
      margin-left: 20px;
      padding-bottom: 10px;
    }
  }
}