body {
  .wrapper {
    width: 100%;
    background-color: #333333;
    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 0px;            
    header {
      width: 1100px;
      height: 120px;
      background-color: #333333;
      margin: 0 auto;
      padding: 10px; 
      .header-upper {
        display: flex;
        justify-content: space-between;
        color: #DDDDDD;
        .board-name {
          padding: 15px;
          margin: auto;
          font-size: x-large;
        }
        .page-link {
          display: block;
          margin-top: 30px;
        }
        .user-menu {
          .btn-outline-info {
            background-color: #DDDDDD ;
            
            margin-bottom: 10px;
          }
          .btn {
            margin-left: 10px;
          }
        }
      }
      .header-nav {
        background-color: #333333;
        padding: 5px;
      
      }
    }
  }
}